In [ ]:
#Authors:
#Trevor Kleinstuber
#Laura Paakh
#Stephen Hong
#Thompson Tang

#2020 Twitter Zodiac Sentiment Analysis

In [2]:
import pandas as pd

In [ ]:
#data = pd.read_csv('/content/training.1600000.processed.noemoticon.csv')

In [ ]:
#data.head()

   0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0  0  ...  is upset that he can't update his Facebook by ...
1  0  ...  @Kenichan I dived many times for the ball. Man...
2  0  ...    my whole body feels itchy and like its on fire
3  0  ...  @nationwideclass no, it's not behaving at all....
4  0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

In [ ]:
#data.sample(10)

        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
130525  0  ...  Just one hour 2 go.... what a week Only saturd...
88046   0  ...         @rubylux I would guys if i was in London.
49930   0  ...  I suck at making widgets, Opera keeps rejectin...
111420  0  ...                    I have a Killer hangover today
131275  0  ...  hates Jules Ferry to the max, for making schoo...
48415   0  ...  @munrodouglas I agree. Warehouse have a modell...
166189  0  ...              Soo tired, couldn't get enough sleep
159032  0  ...  hard day  hay wackos you can also stock me on ...
113626  0  ...     I hate eating mcdonald's but i'm so hungry ha
78666   0  ...    Oy... i'm feeling fat... need to work out more

[10 rows x 6 columns]

In [ ]:
#data.tail()

        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
175518  0  ...  @kiyoshimartinez - 05/31 marks the end of our ...
175519  0  ...  @binhog737 Sorry about the weather, hopefully ...
175520  0  ...  Just got back from working out. I'm feeling pr...
175521  0  ...  i'm sad...i'll miss you grandma angie.. you we...
175522  0  ...                                                NaN

[5 rows x 6 columns]

In [ ]:
#data[data['0']==4]

Empty DataFrame
Columns: [0, 1467810369, Mon Apr 06 22:19:45 PDT 2009, NO_QUERY, _TheSpecialOne_, @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D]
Index: []

In [ ]:
#data

        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0       0  ...  is upset that he can't update his Facebook by ...
1       0  ...  @Kenichan I dived many times for the ball. Man...
2       0  ...    my whole body feels itchy and like its on fire
3       0  ...  @nationwideclass no, it's not behaving at all....
4       0  ...                      @Kwesidei not the whole crew
...    ..  ...                                                ...
175518  0  ...  @kiyoshimartinez - 05/31 marks the end of our ...
175519  0  ...  @binhog737 Sorry about the weather, hopefully ...
175520  0  ...  Just got back from working out. I'm feeling pr...
175521  0  ...  i'm sad...i'll miss you grandma angie.. you we...
175522  0  ...                                                NaN

[175523 rows x 6 columns]

In [ ]:
data=[]

In [9]:
data = pd.read_csv('/content/twitter-headless-pos-neg-tweet.txt', sep='\t', quoting=csv.QUOTE_NONE, engine='python', header=None, names=['pos','neg','tweet'])

In [7]:
import csv

In [10]:
data.head()

   pos  neg                                              tweet
0    3    2  ?RT @justinbiebcr: The bigger the better....if...
1    3    1  Listening to the "New Age" station on @Slacker...
2    1    1  I favorited a YouTube video -- Drake and Josh ...
3    4    2  i didnt mean knee high I ment in lengt it goes...
4    2    1                            I wana see the vid Kyan

In [11]:
data

      pos  neg                                              tweet
0       3    2  ?RT @justinbiebcr: The bigger the better....if...
1       3    1  Listening to the "New Age" station on @Slacker...
2       1    1  I favorited a YouTube video -- Drake and Josh ...
3       4    2  i didnt mean knee high I ment in lengt it goes...
4       2    1                            I wana see the vid Kyan
...   ...  ...                                                ...
4237    1    1  So far, i'm seeing the opposite of what you're...
4238    1    1  RT @Nescreation I'm Yours w/ hearts Ladies Cam...
4239    3    1  RT @JoseCarol: If you fall, GET UP!, if you're...
4240    1    2  @MakikiGirl I'm giving my 2 Japanese Chins a b...
4241    1    1  T-Mobile USA Says They Ditched Yahoo For Googl...

[4242 rows x 3 columns]

In [12]:
data['sentiment'] = data['pos'].astype(int) - data['neg'].astype(int)

In [14]:
data.sample(5)

      pos  neg                                              tweet  sentiment
1650    3    1  today, i want to study hard because tommorow t...          2
2356    1    1  Listening to @mikeposner One Foot Out The Door...          0
3000    1    1  Various Artists - Almost Alice: A great idea s...          0
861     1    1  Update: Brief Tampa interview with Allison and...          0
317     1    1  @shannonelizab http://twitpic.com/12m5z6 - hur...          0

In [15]:
def flatten_sentiment(n):
  if n:
    if n>0:
      return 1
    else:
      return -1
  else:
    return 0

In [16]:
flatten_sentiment(2)

1

In [17]:
flatten_sentiment(0)

0

In [18]:
flatten_sentiment(-3)

-1

In [19]:
data['sent'] = data['sentiment'].map(flatten_sentiment)

In [20]:
data.sample(10)

      pos  neg  ... sentiment  sent
3526    1    1  ...         0     0
384     1    3  ...        -2    -1
1999    1    1  ...         0     0
2422    1    4  ...        -3    -1
355     2    3  ...        -1    -1
2200    2    1  ...         1     1
2518    2    1  ...         1     1
296     2    1  ...         1     1
1591    4    3  ...         1     1
4101    2    1  ...         1     1

[10 rows x 5 columns]

In [21]:
data_ = data[['tweet','sent']]

In [22]:
data_.sample(10)

                                                  tweet  sent
881   RT @marlonlwayans: #lilduvalsarmsso short he d...    -1
4158  biggie biggie biggie cant you see.. i love tha...     1
2944  BE HER THEN!! RT @MagnificentVee: @FARFROMbasi...     1
3703  Eu acabei de comprar um Water Lily Lamp no Sta...     0
3860      I love @alfredapp..seriously..check this out.     1
1693  @mwhi I'd pay handsomely for an autographed copy.     1
757   White Knight Chronicles: Possibly one of the w...    -1
1262  Why cant I ever wake up n say "good morning ev...    -1
2149  @docbrite Wow! I never noticed that EITHER! Wo...    -1
2624  Just because I like girls doesn't mean I like ...    -1

In [24]:
data_.to_csv('tweet_with_sentiment.csv', index=False)