In [1]:
!pip install tweepy

Requirement already satisfied: tweepy in /opt/anaconda3/lib/python3.7/site-packages (3.9.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /opt/anaconda3/lib/python3.7/site-packages (from tweepy) (2.22.0)
Requirement already satisfied: six>=1.10.0 in /opt/anaconda3/lib/python3.7/site-packages (from tweepy) (1.14.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/anaconda3/lib/python3.7/site-packages (from tweepy) (1.3.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests[socks]>=2.11.1->tweepy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests[socks]>=2.11.1->tweepy) (2019.11.28)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /opt/anaconda3/lib/python3.7/site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import tweepy
import re
import json
from pprint import pprint

In [20]:
consumer_key = "eL8BBKYIKuX3Zs5stCy65H4ZK"
consumer_secret = "bPNUHq248Cy3AxfrsDelhLnLrqiBq2TI7dyZ5kzUQV2OpIfG4E"
access_key = "1323476698361290753-Lur1HA32KZ2iFvylxkC8MMSSnj7tXC"
access_secret = "BHZXf3F0zIvTO2BkyOK6Mx3xMNZDr3pCmPFr0sSWbWrwV"

In [21]:
def initialize():
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_key, access_secret)
    api = tweepy.API(auth, parser = tweepy.parsers.JSONParser())
    return api 
api = initialize()

In [48]:
comp_searches = ("@ZodiacTerms", "@ZodiacHub", "@ZodiacLife", "@ZodiacKilla69", "@zodiacbeat", "@zodiacashomes", "@ZodiacFact", "@CinematicZodiac")

In [ ]:
# Array to hold sentiment
sentiments = []

# Iterate through all the comp_searches
for search in comp_searches:
       
    # Bring out the 100 tweets
    comp_tweets = api.user_timeline(search, count=5000)
    
    # Loop through the 100 tweets
    for tweet in comp_tweets:
        text = tweet["text"]
        
     # Add each value to the appropriate array
        sentiments.append({"User": search,
                           "text":text,
                       "Date": tweet["created_at"] 
                        })

In [138]:
# Call API search for English only tweets with the word "aries" and with 400 Tweets per month.

aries = api.search("aries", count=100, lang='en')

In [86]:
len(aries["statuses"])

100

In [139]:
with open("aries4.json", "w") as out_file:
    json.dump(aries, out_file, indent=4)

In [140]:
taurus = api.search("taurus", count=100, lang='en')

In [141]:
with open("taurus4.json", "w") as out_file:
    json.dump(taurus, out_file, indent=4)

In [142]:
gemini = api.search("gemini", count=100, lang='en')

In [143]:
with open("gemini4.json", "w") as out_file:
    json.dump(gemini, out_file, indent=4)

In [144]:
cancer = api.search("cancer", count=100, lang='en')

In [145]:
with open("cancer4.json", "w") as out_file:
    json.dump(cancer, out_file, indent=4)

In [146]:
leo = api.search("leo", count=100, lang='en')

In [147]:
with open("leo4.json", "w") as out_file:
    json.dump(leo, out_file, indent=4)

In [148]:
virgo = api.search("virgo", count=100, lang='en')

In [149]:
with open("virgo4.json", "w") as out_file:
    json.dump(virgo, out_file, indent=4)

In [150]:
libra = api.search("libra", count=100, lang='en')

In [151]:
with open("libra4.json", "w") as out_file:
    json.dump(libra, out_file, indent=4)

In [152]:
scorpio = api.search("scorpio", count=100, lang='en')

In [153]:
with open("scorpio4.json", "w") as out_file:
    json.dump(scorpio, out_file, indent=4)

In [154]:
sagittarius = api.search("sagittarius", count=100, lang='en')

In [155]:
with open("sagittarius4.json", "w") as out_file:
    json.dump(sagittarius, out_file, indent=4)

In [156]:
capricorn = api.search("capricorn", count=100, lang='en')

In [157]:
with open("capricorn4.json", "w") as out_file:
    json.dump(capricorn, out_file, indent=4)

In [158]:
aquarius = api.search("aquarius", count=100, lang='en')

In [159]:
with open("aquarius4.json", "w") as out_file:
    json.dump(aquarius, out_file, indent=4)

In [160]:
pisces = api.search("pisces", count=100, lang='en')

In [161]:
with open("pisces4.json", "w") as out_file:
    json.dump(pisces, out_file, indent=4)

In [52]:
df = pd.DataFrame(sentiments)
df

,User,text,Date
0,@ZodiacTerms,8 Signs That Your Relationship Should and Will...,Fri Nov 06 22:12:03 +0000 2020
1,@ZodiacTerms,11 Of The Funniest Things People Have Said In ...,Thu Nov 05 22:11:02 +0000 2020
2,@ZodiacTerms,Hilarious Differences Between Single And Datin...,Wed Nov 04 22:54:03 +0000 2020
3,@ZodiacTerms,9 People Who Are Really Nailing This Whole Mar...,Tue Nov 03 22:49:02 +0000 2020
4,@ZodiacTerms,10 Dead giveaways of a Cheating Woman - https:...,Mon Nov 02 22:52:03 +0000 2020
...,...,...,...
459,@zodiacashomes,"Capricorn, Virgo,Taurus Leo and Aquarius &amp;...",Fri Oct 23 16:02:09 +0000 2020
460,@zodiacashomes,"Taurus,Aquarius,Leo,Pisces and Sagittarius dre...",Fri Oct 23 15:54:05 +0000 2020
461,@zodiacashomes,RT @JoeBiden: Donald Trump is the worst presid...,Fri Oct 23 15:36:24 +0000 2020
462,@zodiacashomes,RT @manifestmomryan: 777\n\nThis tweet is full...,Mon Oct 05 04:56:40 +0000 2020
463,@zodiacashomes,If you want to get bit just say dat. https://t...,Sun Aug 23 21:41:55 +0000 2020

In [53]:
df.to_csv("tweets_11_7.csv", index=False)