In [1]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
from clean_tweet import clean_tweet

In [4]:
#VADER sentiment analyzer is a pre-trained sentiment analyzer designed for social media
analyser = SentimentIntensityAnalyzer()

In [5]:
data = pd.read_csv('tweets_11_7.csv')

In [6]:
data.sample(10)

,User,text,Date
208,@ZodiacLife,The latest The Celebrity Cancer Dish Daily! ht...,Thu Nov 05 11:42:46 +0000 2020
125,@ZodiacHub,Top three underrated zodiac signs \r\n1. Virgo...,Tue Sep 08 03:05:33 +0000 2020
155,@ZodiacHub,What signs need in 2020\r\n\r\nAries- solace\r...,Wed Dec 11 03:24:33 +0000 2019
452,@zodiacashomes,This store sales house plants+ decor + furnitu...,Sat Oct 24 16:42:25 +0000 2020
296,@ZodiacKilla69,Alright fellas here we go one of the best time...,Wed Nov 04 17:12:47 +0000 2020
363,@ZodiacKilla69,Shoutout to Herro for all us Heat +8 bettors üôå...,Wed Oct 07 03:44:53 +0000 2020
139,@ZodiacHub,Pick-Up Lines for each of the Signs https://t....,Sat May 30 17:14:56 +0000 2020
281,@ZodiacLife,The latest The Celebrity Taurus Dish Daily! ht...,Wed Oct 28 07:08:24 +0000 2020
86,@ZodiacTerms,Using Social Media on the Autism Spectrum http...,Sun Apr 23 12:26:37 +0000 2017
92,@ZodiacTerms,#Sagittarius: When it comes to gossip you like...,Sat Apr 22 05:08:35 +0000 2017

In [7]:
data['clean'] = data['text'].map(clean_tweet)

In [8]:
data.head()

,User,text,Date,clean
0,@ZodiacTerms,8 Signs That Your Relationship Should and Will...,Fri Nov 06 22:12:03 +0000 2020,
1,@ZodiacTerms,11 Of The Funniest Things People Have Said In ...,Thu Nov 05 22:11:02 +0000 2020,
2,@ZodiacTerms,Hilarious Differences Between Single And Datin...,Wed Nov 04 22:54:03 +0000 2020,
3,@ZodiacTerms,9 People Who Are Really Nailing This Whole Mar...,Tue Nov 03 22:49:02 +0000 2020,
4,@ZodiacTerms,10 Dead giveaways of a Cheating Woman - https:...,Mon Nov 02 22:52:03 +0000 2020,

In [9]:
def get_score(tweet):
    return analyser.polarity_scores(tweet)

In [10]:
scores = list(data['clean'].map(get_score).values)

In [11]:
scores = pd.DataFrame.from_dict(scores)

In [12]:
scores

       neg    neu    pos  compound
0    0.000  0.000  0.000    0.0000
1    0.000  0.000  0.000    0.0000
2    0.000  0.000  0.000    0.0000
3    0.000  0.000  0.000    0.0000
4    0.000  0.000  0.000    0.0000
..     ...    ...    ...       ...
461  0.000  0.000  0.000    0.0000
462  0.000  0.000  0.000    0.0000
463  0.339  0.661  0.000   -0.6249
464  0.000  0.769  0.231    0.7184
465  0.000  0.000  0.000    0.0000

[466 rows x 4 columns]

In [13]:
data = data.join(scores)

In [14]:
data.head()

,User,text,Date,clean,neg,neu,pos,compound
0,@ZodiacTerms,8 Signs That Your Relationship Should and Will...,Fri Nov 06 22:12:03 +0000 2020,,0.0,0.0,0.0,0.0
1,@ZodiacTerms,11 Of The Funniest Things People Have Said In ...,Thu Nov 05 22:11:02 +0000 2020,,0.0,0.0,0.0,0.0
2,@ZodiacTerms,Hilarious Differences Between Single And Datin...,Wed Nov 04 22:54:03 +0000 2020,,0.0,0.0,0.0,0.0
3,@ZodiacTerms,9 People Who Are Really Nailing This Whole Mar...,Tue Nov 03 22:49:02 +0000 2020,,0.0,0.0,0.0,0.0
4,@ZodiacTerms,10 Dead giveaways of a Cheating Woman - https:...,Mon Nov 02 22:52:03 +0000 2020,,0.0,0.0,0.0,0.0

In [15]:
pd.set_option('max_colwidth', 280)

In [16]:
data.sort_values('compound', ascending=False)[['clean','compound']]

,clean,compound
37,Geminis have a hard time settling down and really like their freedom. You two probably are better as friends than lovers.,0.9456
377,Okay I‚Äôve seen like 50 bets on this game on this app and every single one has been the Ravens ü§£ü§£ü§£,0.9186
344,"Appreciate it bro, same for you. Love what you do on here, feel free to shoot me a DM and shoot the shit anytime üëäüèº",0.8860
46,A Sagittarius is definitely someone that loves to joke around so you have to be prepared for anything.,0.8591
83,Scorpio: Only the people they deem worthy are allowed to see them at anything but their best.,0.8294
...,...,...
147,signs as szn's: aries: flex szn taurus: nap szn gemini: party szn cancer: sad bitch szn leo: self luv szn,-0.8625
152,the signs when insulted.. destroys you: - Aries - Gemini - Scorpio cries: - Cancer - Pisces laughs: - Taurus,-0.8957
94,"Cancer: When you get in a fight with someone, it tends to get ugly fast because you let your emotions take over and say hurtful things.",-0.9287
165,The signs as witches: Aries: hot witch Taurus: angry witch Gemini: indecisive witch Cancer: soft witch,-0.9565
172,The signs as bitches: Aquarius - angry bitch Pisces - hungry bitch Aries - hoe bitch Taurus - crying bitch,-0.9788