In [ ]:
#Authors:
#Trevor Kleinstuber
#Laura Paakh
#Stephen Hong
#Thompson Tang

#2020 Twitter Zodiac Sentiment Analysis

In [ ]:
import pandas as pd

In [ ]:
#data = pd.read_csv('/content/training.1600000.processed.noemoticon.csv')

In [ ]:
#data.head()

   0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0  0  ...  is upset that he can't update his Facebook by ...
1  0  ...  @Kenichan I dived many times for the ball. Man...
2  0  ...    my whole body feels itchy and like its on fire
3  0  ...  @nationwideclass no, it's not behaving at all....
4  0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

In [ ]:
#data.sample(10)

        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
130525  0  ...  Just one hour 2 go.... what a week Only saturd...
88046   0  ...         @rubylux I would guys if i was in London.
49930   0  ...  I suck at making widgets, Opera keeps rejectin...
111420  0  ...                    I have a Killer hangover today
131275  0  ...  hates Jules Ferry to the max, for making schoo...
48415   0  ...  @munrodouglas I agree. Warehouse have a modell...
166189  0  ...              Soo tired, couldn't get enough sleep
159032  0  ...  hard day  hay wackos you can also stock me on ...
113626  0  ...     I hate eating mcdonald's but i'm so hungry ha
78666   0  ...    Oy... i'm feeling fat... need to work out more

[10 rows x 6 columns]

In [ ]:
#data.tail()

        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
175518  0  ...  @kiyoshimartinez - 05/31 marks the end of our ...
175519  0  ...  @binhog737 Sorry about the weather, hopefully ...
175520  0  ...  Just got back from working out. I'm feeling pr...
175521  0  ...  i'm sad...i'll miss you grandma angie.. you we...
175522  0  ...                                                NaN

[5 rows x 6 columns]

In [ ]:
#data[data['0']==4]

Empty DataFrame
Columns: [0, 1467810369, Mon Apr 06 22:19:45 PDT 2009, NO_QUERY, _TheSpecialOne_, @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D]
Index: []

In [ ]:
#data

        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0       0  ...  is upset that he can't update his Facebook by ...
1       0  ...  @Kenichan I dived many times for the ball. Man...
2       0  ...    my whole body feels itchy and like its on fire
3       0  ...  @nationwideclass no, it's not behaving at all....
4       0  ...                      @Kwesidei not the whole crew
...    ..  ...                                                ...
175518  0  ...  @kiyoshimartinez - 05/31 marks the end of our ...
175519  0  ...  @binhog737 Sorry about the weather, hopefully ...
175520  0  ...  Just got back from working out. I'm feeling pr...
175521  0  ...  i'm sad...i'll miss you grandma angie.. you we...
175522  0  ...                                                NaN

[175523 rows x 6 columns]

In [ ]:
data=[]

In [ ]:
data = pd.read_csv('/content/twitter-headless-pos-neg-tweet.txt', sep='\t', quoting=csv.QUOTE_NONE, engine='python', header=None, names=['pos','neg','tweet'])

In [ ]:
import csv

In [ ]:
data.head()

   pos  neg                                              tweet
0    3    2  ?RT @justinbiebcr: The bigger the better....if...
1    3    1  Listening to the "New Age" station on @Slacker...
2    1    1  I favorited a YouTube video -- Drake and Josh ...
3    4    2  i didnt mean knee high I ment in lengt it goes...
4    2    1                            I wana see the vid Kyan

In [ ]:
data

      pos  neg                                              tweet
0       3    2  ?RT @justinbiebcr: The bigger the better....if...
1       3    1  Listening to the "New Age" station on @Slacker...
2       1    1  I favorited a YouTube video -- Drake and Josh ...
3       4    2  i didnt mean knee high I ment in lengt it goes...
4       2    1                            I wana see the vid Kyan
...   ...  ...                                                ...
4237    1    1  So far, i'm seeing the opposite of what you're...
4238    1    1  RT @Nescreation I'm Yours w/ hearts Ladies Cam...
4239    3    1  RT @JoseCarol: If you fall, GET UP!, if you're...
4240    1    2  @MakikiGirl I'm giving my 2 Japanese Chins a b...
4241    1    1  T-Mobile USA Says They Ditched Yahoo For Googl...

[4242 rows x 3 columns]

In [ ]:
data['sentiment'] = data['pos'].astype(int) - data['neg'].astype(int)

In [ ]:
data.sample(5)

      pos  neg                                              tweet  sentiment
1650    3    1  today, i want to study hard because tommorow t...          2
2356    1    1  Listening to @mikeposner One Foot Out The Door...          0
3000    1    1  Various Artists - Almost Alice: A great idea s...          0
861     1    1  Update: Brief Tampa interview with Allison and...          0
317     1    1  @shannonelizab http://twitpic.com/12m5z6 - hur...          0

In [ ]:
def flatten_sentiment(n):
  if n:
    if n>0:
      return 1
    else:
      return -1
  else:
    return 0

In [ ]:
flatten_sentiment(2)

1

In [ ]:
flatten_sentiment(0)

0

In [ ]:
flatten_sentiment(-3)

-1

In [ ]:
data['sent'] = data['sentiment'].map(flatten_sentiment)

In [ ]:
data.sample(10)

      pos  neg  ... sentiment  sent
3526    1    1  ...         0     0
384     1    3  ...        -2    -1
1999    1    1  ...         0     0
2422    1    4  ...        -3    -1
355     2    3  ...        -1    -1
2200    2    1  ...         1     1
2518    2    1  ...         1     1
296     2    1  ...         1     1
1591    4    3  ...         1     1
4101    2    1  ...         1     1

[10 rows x 5 columns]

In [ ]:
data_ = data[['tweet','sent']]

In [ ]:
data_.sample(10)

                                                  tweet  sent
881   RT @marlonlwayans: #lilduvalsarmsso short he d...    -1
4158  biggie biggie biggie cant you see.. i love tha...     1
2944  BE HER THEN!! RT @MagnificentVee: @FARFROMbasi...     1
3703  Eu acabei de comprar um Water Lily Lamp no Sta...     0
3860      I love @alfredapp..seriously..check this out.     1
1693  @mwhi I'd pay handsomely for an autographed copy.     1
757   White Knight Chronicles: Possibly one of the w...    -1
1262  Why cant I ever wake up n say "good morning ev...    -1
2149  @docbrite Wow! I never noticed that EITHER! Wo...    -1
2624  Just because I like girls doesn't mean I like ...    -1

In [ ]:
data_.to_csv('tweet_with_sentiment.csv', index=False)

In [ ]:
data__ = pd.read_csv('tweet_with_sentiment.csv')

In [ ]:
data__.sample(5)

                                                  tweet  sent
3235  RT @MonStarMimz: RT @violetnight: F A S H I O ...    -1
2163  @basicTeeC Lol, awww. Why she say that. That's...    -1
2945  RT @replacemusic: Poa - RS e Regi?o, fortelece...     0
439   RT @hypersem: Secret behind @FriendshipCircl s...     0
1981  @an_an0maly And just the baby thing in general...     0

In [ ]:
import re

In [2]:
import re
def clean_up(tweet):
  s = re.sub(r"(?:\@|https?\://)\S+", "", tweet).replace("#", "")
  return "".join(s.split())

In [3]:
clean_up('#OMG WTF @BBQ http://omg.wtf lol')

'OMG WTF   lol'

In [ ]:
data__['tweet'] = data__['tweet'].map(clean_up)

In [ ]:
data__.sample(10)

                                                  tweet  sent
884                                       - Fran & MATH     0
4191   Following you via  Looking forward to your tw...     1
1422  I wonder if my followers will ever reach doubl...     1
942   True RT  Halo Legends & Black Dynamite come ou...     0
801   RT  #GhettoVdayGifts watchin movie BET blackbu...     0
1047  RT  I come dressed as any pill you deem fit. W...     1
2971   Yup, that shit hard, if you wanna Download it...     0
3374  okays, im gonna do my makeup and get dressed n...    -1
2575  Closed Friday, February 26: Due to inclement w...    -1
3931  RT  Shout! RT  RT  can we get a shout out for ...     1

In [ ]:
pd.set_option('max_colwidth', 280)
#280 is max tweet size

In [ ]:
data__.sample(10)

                                                                                                                              tweet  sent
552                              Q:IS IT TRUE THAT MAMA DANCA AH BREED FI YU??? A:wat the fuk.......... ah wah kinna suicidal n...     -1
2549  THIS BUSH HERE AND ITLL BE OUR LITTLE SECRET.... IF YOU TELL ANYONE THAT ITS THERE ILL COME TO YOUR HOUSE AND I WILL CUT YOU!    -1
3242                                                                  [AZ news] Ariz. House votes to try using tires to fill mines      0
1606                                                                      #imfromGvegas where da good die young! RIP my nigga skee     -1
1552             #FREE Digsby! Integrate your MSN, Yahoo, AIM, ICQ, Jabber, Facebook, Twitter accounts into one interface!  #comp #     0
3400                         I wud but...my bday tomoro..I ain't puttn it down for no1..sum1 gotta put it dwn for me.. #imjustsayin     0
4073                                 RT  RT  Next time you hear "that's how we always do it" say "today is not yesterday." #ideas10     0
3365                                                                           Turkey presses Obama ahead of Armenia genocide vote      0
3656                            Revenue managers.....why are we stuck with rooms only? arent there other revenue producing areas???    -1
2085                     RT  "Marijuana, in its natural form, is one of the safest therapeutically active substances known to man."     1

In [ ]:
def strip_hashtag(tweet):
  return tweet.replace("#", "")

In [ ]:
data__['tweet'] = data__['tweet'].map(strip_hashtag)

In [ ]:
data__.sample(5)

                                                                                                              tweet  sent
2777              RT  Oh shit!!..here come some more aftershox....sweet jesus,and baby jesus!! Chile TerremotoChile    -1
1413   I might have 2 take a trip 2 east 2 and watch or join one day lmaoooo Twitterafterdark hahah im going to bed     1
1473                ok mami im sorry that shit happened last night :( jus like i told my nigha  *kiss on the cheek*     0
3812                                            Okay !! Im Gewd !! Got a random axx text from T n he made my day !!     1
3719                   Re: Latency checker - in a XenDesktop env you can get the latency (and BW) with HDX monitor      0

In [ ]:
'''
Coding sources:
https://stackoverflow.com/questions/13896056/how-to-remove-user-mentions-and-urls-in-a-tweet-string-using-python
https://stackoverflow.com/questions/60013721/how-to-see-complete-rows-in-google-colab
https://stackoverflow.com/questions/48681118/python-remove-hashtag-symbol-and-keep-key-words/48682499
'''

'\nCoding sources:\nhttps://stackoverflow.com/questions/13896056/how-to-remove-user-mentions-and-urls-in-a-tweet-string-using-python\nhttps://stackoverflow.com/questions/60013721/how-to-see-complete-rows-in-google-colab\nhttps://stackoverflow.com/questions/48681118/python-remove-hashtag-symbol-and-keep-key-words/48682499\n'

In [ ]:
data__.to_csv('training_data.csv', index=False)