In [1]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in c:\users\trevo\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: requests in c:\users\trevo\anaconda3\lib\site-packages (from vaderSentiment) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\trevo\anaconda3\lib\site-packages (from requests->vaderSentiment) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\trevo\anaconda3\lib\site-packages (from requests->vaderSentiment) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\trevo\anaconda3\lib\site-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\trevo\anaconda3\lib\site-packages (from requests->vaderSentiment) (2.8)

In [2]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('training_data.csv')

In [5]:
data.sample(5)

                                                  tweet  sent
3156  Here's a piece of advice for any and all ethno...    -1
3501  Oh & now my batteries gonna die. sum1 hates me...    -1
3843  The Next Web?s Weekly Recap: Real Time Web, iP...     0
982       is yay it's finally going to be nice out.. :)     1
2950  I wud lov 4 dis shit to last So Ill tak pictur...     1

In [6]:
x = data['tweet'].values[0]
x

'?RT  The bigger the better....if you know what I mean ;)'

In [7]:
analyser.polarity_scores(x)

{'neg': 0.0, 'neu': 0.84, 'pos': 0.16, 'compound': 0.2263}

In [9]:
def get_score(s):
    if type(s) == str:
        return analyser.polarity_scores(s) 
    else:
        return {'neg': 0.0, 'neu': 0.0, 'pos': 0.0, 'compound': 0.0}

In [ ]:
# tweets = data['tweet'].values
# tweets

In [14]:
def give_score(s):
    return analyser.polarity_scores(str(s))

In [15]:
data['vader_score'] = data['tweet'].map(give_score)

In [22]:
data['negative'] = [i['neg'] for i in list(data['vader_score'].values)]

In [23]:
data['neutral'] = [i['neu'] for i in list(data['vader_score'].values)]

In [24]:
data['positive'] = [i['pos'] for i in list(data['vader_score'].values)]

In [25]:
data['compound'] = [i['compound'] for i in list(data['vader_score'].values)]

In [26]:
data.sample(5)

,tweet,sent,vader_score,neg,negative,neutral,positive,compound
112,i'm so super duper excitied right now cuz' i'm...,1,"{'neg': 0.0, 'neu': 0.743, 'pos': 0.257, 'comp...",0.000,0.000,0.743,0.257,0.6689
1735,Click here and join out call!,0,"{'neg': 0.0, 'neu': 0.667, 'pos': 0.333, 'comp...",0.000,0.000,0.667,0.333,0.3595
2572,[News]: Beyonce Says She 'Killed' Sasha Fierce,-1,"{'neg': 0.429, 'neu': 0.571, 'pos': 0.0, 'comp...",0.429,0.429,0.571,0.000,-0.6705
1903,Ermm thats i did on mine lol right just click...,1,"{'neg': 0.0, 'neu': 0.758, 'pos': 0.242, 'comp...",0.000,0.000,0.758,0.242,0.6908
3914,RT and follow & Monthly Contest to win an Sw...,0,"{'neg': 0.0, 'neu': 0.774, 'pos': 0.226, 'comp...",0.000,0.000,0.774,0.226,0.5859

In [51]:
data = data[['tweet','sent','negative','neutral','positive','compound']]

In [52]:
data.sample(5)

,tweet,sent,negative,neutral,positive,compound
3721,i am sooo bored.:,-1,0.412,0.588,0.000,-0.2732
3354,im so happy all thz snow meltinq!!!,1,0.000,0.552,0.448,0.7067
937,The funny part is when the bottle popped n i g...,0,0.105,0.524,0.371,0.7263
191,css Modify web template by jamesallwood: Hi. I...,0,0.000,1.000,0.000,0.0000
2523,loves you Galouuuu the wolf.,1,0.000,0.519,0.481,0.5719

In [53]:
def to_ternary(c):
    if c > .33333:
        return 1
    elif c < -.33333:
        return -1
    else:
        return 0

In [54]:
# data['vader_sent'] = simplify_vader(data.negative, data.positive, data.neutral)

In [55]:
data['acc'] = data['sent'] - data['compound'].map(to_ternary)

In [56]:
import numpy as np
data['acc'] = data['acc'].map(np.abs)

In [57]:
data.acc.sum()/data.size

0.06721896679463865

In [58]:
data.sample(10)

,tweet,sent,negative,neutral,positive,compound,acc
2866,"Five for silver, Six for gold, Seven for a se...",0,0.000,1.000,0.000,0.0000,0
2804,lol apparently they don't... Or their job don...,0,0.165,0.637,0.198,0.1200,0
1912,RT ImAttractedTo Men that'll hold you down no...,1,0.107,0.893,0.000,-0.0191,1
380,Directory Of Ezines.: Earn $90 Per Sale! Ezine...,1,0.000,0.838,0.162,0.5696,0
2213,Kodel auk?tasis mokslas u?sienyje tampa toks p...,0,0.000,0.825,0.175,0.3695,1
1148,I would realy lika a new free Wacom!!! The o...,0,0.000,0.770,0.230,0.6341,1
2601,"RT Watch Paul on Fox News on Feb. 24th, tomor...",0,0.000,1.000,0.000,0.0000,0
655,questo l'ho caricato soprattutto per,0,0.000,1.000,0.000,0.0000,0
4142,Jobs Accounting Residential Conveyancing Solic...,0,0.000,0.857,0.143,0.1280,0
1661,PPPPPRRRRIIINNNCCCEE!I'm Sahana how are you?P...,1,0.000,0.775,0.225,0.5399,0

In [59]:
data.to_csv('vader_vs_sentiscore_simplified.csv')